[submodule "NexOS-Bootloader"]
	path = NexOS-Bootloader
	url = git@github.com:ThomasJMichael/NexOS-Bootloader.git
[submodule "NexOS-Kernel"]
	path = NexOS-Kernel
	url = git@github.com:ThomasJMichael/NexOS-Kernel.git
